@model IEnumerable<Hoquei.Models.Classificacoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Campeonato_Id.Designacao)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Clube.Name)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Golos_Marcados)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Golos_Sofridos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Campeonato_Id.Designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clube.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Golos_Marcados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Golos_Sofridos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_TabelaDeClassificacoes">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
