@using Microsoft.AspNetCore.Identity
@inject SignInManager<Hoquei.Data.ApplicationUser> SignInManager
@inject UserManager<Hoquei.Data.ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hoquei</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Hoquei</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                  
                    </ul>
                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item "><a class="nav-link text-white" asp-action="Details" asp-controller="Utilizadores" asp-route-userName="@User.Identity.Name" title="Manage">Olá @User.Identity.Name!</a> @* User.Identity.Name --> devolve o UserName  *@</li>
                                    
                            <li class=" nav-item" ><a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">SAIR</a></li>
                        }
                        else
                        {
                            <li><a asp-area="Identity" asp-page="/Account/Register">CRIAR CONTA</a></li>
                            <li><a asp-area="Identity" asp-page="/Account/Login">   ENTRAR</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <ul>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="User" asp-action="Index">Lista de utilizadores</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Jogador" asp-action="Index">Lista de jogadores</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Clube" asp-action="Index">Clubes</a>
            </li>

            <li>
                <a asp-area="" asp-controller="Jogo" asp-action="Index">Jogos</a>
            </li>

            <li>
                <a asp-area="" asp-controller="Campeonatos" asp-action="Index">Campeonatos</a>
            </li>

        </ul>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container">
            &copy; 2022 - Hoquei - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
