@model Hoquei.Models.Clube

@{ ViewData["Title"] = "Details"; }

<h1>@Model.Name</h1>
<br />

    <div class="Clube">
        <div style="float:left; margin-right:20px;  margin-top:10px; border:4px solid black">
            <img src="~/clubefotos/@Html.DisplayFor(model => model.Foto)"
                 width="250" height="175" />
        </div>

        <div style="line-height:2;  ">
            <b> Data de Fundação:</b>
            @Html.DisplayFor(model => model.Data_Fundacao)<br />

            <b>Jogadores: </b>

            <div>
                @foreach (var item in Model.ListaDeJogadores)
                {
    <div class="Jogador">
        <a asp-action="Details" asp-controller="Jogador" asp-route-id="@item.Num_Fed">
            <div class="overlay">
                <div class="text">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </div>
        </a>

    </div>            }
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>

    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Apagar</a>

    <br />
<a class="btn btn-primary" asp-action="Index">Voltar</a>


