@model Hoquei.Models.Campeonato

@{
    ViewData["Title"] = "Details";
}

<h1>Classificaçôes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Campeonato
            </th>
            <th>
                Clube
            </th>
            <th>
                Pontos
            </th>
            <th>
                Golos Marcados
            </th>
            <th>
                Golos Sofridos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Classificacoes item in ViewBag.ListaDeClassificacoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Campeonato_Id.Designacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clube.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Golos_Marcados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Golos_Sofridos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_TabelaDeClassificacoes">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
