@model Hoquei.Models.Campeonato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campeonato</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.designacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.designacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.escalao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.escalao)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
