@model Hoquei.Models.Jogo

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Adicionar</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"> Data do Jogo</label>
                <input required type="datetime-local" name="bornDate" value="2010-01-01T00:01" min="1920-06-07T00:00" max="2011-06-14T00:00" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Clube Visitado</label>
                @foreach (Clube item in ViewBag.ListaDeClubes)
                {
                    <br /> <input type="checkbox" value="@item" name="Clube_Casa" /> @item.Name}
            </div>
            <div class="form-group">
                <label class="control-label">Clube Visitante</label>
                @foreach (Clube item in ViewBag.ListaDeClubes)
                {
                    <br /> <input type="checkbox" value="@item" name="Clube_Fora" /> @item.Name}
            </div>
            <div class="form-group">
                <label asp-for="Escalao" class="control-label"></label>
                <input asp-for="Escalao" class="form-control" />
                <span asp-validation-for="Escalao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolosCasa" class="control-label">Número da Camisola</label>
                <input required type="number" name="GolosCasa" min="1" max="99" maxlength="2" placeholder="1" />
                <span asp-validation-for="GolosCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolosFora" class="control-label">Número da Camisola</label>
                <input required type="number" name="GolosFora" min="1" max="99" maxlength="2" placeholder="1" />
                <span asp-validation-for="GolosFora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Marcadores</label>
                @foreach (Jogador item in ViewBag.ListaDeJogadores)
                {
                    <br /> <input type="checkbox" value="@item" name="Marcadores" /> @item.Name}
            </div>
            <div class="form-group">
                <label class="control-label">Capitão Da Equipa da Casa</label>
                @foreach (Jogador item in ViewBag.ListaDeJogadores)
                {
                    <br /> <input type="checkbox" value="@item" name="Capitao_Casa" /> @item.Name}
            </div>
            <div class="form-group">
                <label class="control-label">Capitão Da Equipa Visitante</label>
                @foreach (Jogador item in ViewBag.ListaDeJogadores)
                {
                    <br /> <input type="checkbox" value="@item" name="Capitao_Fora" /> @item.Name}
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <div>
        <a class="nav-link text-dark" asp-action="Index">Back to List</a>
    </div>

