@model IEnumerable<Hoquei.Models.Jogador>

@{ ViewData["Title"] = "Campeonatos"; }

<head>
    <link rel="stylesheet" href="~/css/ImagensFilmes.css" />
</head>
<h1>Lista de Jogadores</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Utilizador")) { 
    <p><a asp-action="Adicionar">Adicionar Jogador</a></p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                Número de Federado
            </th>
            <th>
                Nome
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcunha)
            </th>
            <th>
                Data de Nascimento
            </th>

            <th>
               

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_FederadoReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alcunha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Nasc)
                </td>
                <td>
                    <img src="~/fotos/@item.Foto.Nome" style="height:75px; width:65px" />
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Utilizador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Num_Fed">Editar</a>}|
                    <a asp-action="Details" asp-route-id="@item.Num_Fed">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>


